.img-b {
    position: relative;
  }
  
  .img-b .img-c {
    position: absolute;  
    top: 0;  
    left: 0;
    opacity: 0;
    transition: .5s;
  }
  
  .img-b:hover .img-c {
    opacity: 1;

  }

  